{% extends 'MainParser/base.html' %}

{% load static %}

{% block content %}

<h2 style="margin-top: 150px; text-align: center;">Parser</h2>


<table style="margin-top: 20px; width: 95%; margin-left: 2.5%;">
	<tr>
        <th>Время</th>
        <th>Площадка</th>
        <th>Название</th>
        <th>Адрес</th>
        <th>Цена</th>
        <th>Телефон</th>
        <th>Город</th>
        <th>Пользователь</th>
        <th>Ссылка</th>
        <th>Сделано</th>
    </tr>
	{%for ad in ads %}
    <tr>
        <th>{{ad.date}}</th>
        <th>{{ad.site}}</th>
        <th>{{ad.title}}</th>
        <th>{{ad.address}}</th>
        <th>{{ad.price}}</th>
        <th>{{ad.phone}}</th>
        <th>{{ad.city}}</th>
        <th>{{ad.person}}</th>
        <th><a href="https://avito.ru/{{ad.link}}">Перейти на сайт</a></th>
        {% if ad.done %}
            <th>✔</th>
        {% else %}
            <th> </th>
        {% endif %}
    </tr>
    {% endfor %}
</table>


{% endblock %}

