{% extends 'MainParser/base.html' %}

{% load static %}

{% block content %}



{% if user.is_authenticated %}
<h2 style="margin-top: 150px; text-align: center;"> {{ name }}</h2>
<div style="text-align: center">
    {% if work_status %}
        <button id="working_button" onclick="working_status()"> Working </button>
    {% else %}
        <button id="working_button" onclick="working_status()"> Not working </button>
    {% endif %}
</div>
{% endif %}

<table style="margin-top: 20px; width: 95%; margin-left: 2.5%;" id="mainTable">
</table>

<script>
    let focused = '-1';
    var update = function () {
        $.ajax({
            url: "{% url 'ajax-get_table' %}",
            dataType: 'json',
            success: function (data) {
                let new_data = "<tr><th>Время</th><th>Площадка</th><th>Название</th><th>Адрес</th><th>Цена</th><th>Телефон</th><th>Город</th><th>Опрос</th><th>Закрыл</th><th>Позвонить</th><th>Пользователь</th><th>Ссылка</th><th>Сделано</th></tr>";
                for (let i = 0; i < data['respond'].length; i++) {
                    let ad = data['respond'][i];

                    let color = "#000000"
                    if (ad['id'] == focused)
                        color = "#008000";
                    else if (ad['color'] === 'gray')
                        color = "#f0f0f0";
                    else if (ad['color'] === 'orange')
                        color = '#FFA500';
                    else if (ad['color'] === 'blue')
                        color = '#0000FF';

                    new_data += "<tr style='background-color: " + color + "'>"
                    new_data += "<th style='background-color: " + color + "'><button onclick='focus_ad(" + ad['id'] + ")'>" +  ad['date'] + "</button></th>";
                    new_data += "<th style='background-color: " + color + "'>" + ad['site'] + "</th>";
                    new_data += "<th style='background-color: " + color + "'>" + ad['title'] + "</th>";
                    new_data += "<th style='background-color: " + color + "'>" + ad['address'] + "</th>";
                    new_data += "<th style='background-color: " + color + "'>" + ad['price'] + "</th>";
                    new_data += "<th style='background-color: " + color + "'>" + ad['phone'] + "</th>";
                    new_data += "<th style='background-color: " + color + "'>" + ad['city'] + "</th>";

                    new_data += "<th style='background-color: " + color + "'><button onclick='noCall(" + ad['id'] + ")'>"
                    if (ad['noCall'] === true)
                        new_data += "call"
                    else
                        new_data += "no call"
                    new_data += "</button></th>";

                    new_data += "<th style='background-color: " + color + "'><button onclick='closed(" + ad['id'] + ")'>"
                    if (ad['frontDone'] === true)
                        new_data += "не закрыл";
                    else
                        new_data += "закрыл   "
                    new_data += "</button></th>";

                    new_data += "<th style='background-color: " + color + "'><button onclick='targetAd(" + ad['id'] + ")'> ☎ </button></th>";

                    new_data += "<th style='background-color: " + color + "'>" + ad['person'] + "</th>";
                    new_data += "<th style='background-color: " + color + "'><a href=\"https://avito.ru/" + ad['link'] + "\">Перейти на сайт</a></th>";
                    if (ad['done'] === true)
                        new_data += "<th style='background-color: " + color + "'> ✔ </th>";
                    else
                        new_data += "<th style='background-color: " + color + "'>   </th>";
                    new_data += "</tr>";
                }
                document.getElementById('mainTable').innerHTML = new_data;
            }
        });
    };

    const targetAd = function (id) {
        $.ajax({
            url: "{% url 'ajax-target_ad' %}",
            data: {'id': id},
            dataType: 'json',
            success: function (data) {
                console.log(data);
            }
        });
    };

    const noCall = function (id) {
        $.ajax({
            url: "{% url 'ajax-no_call' %}",
            data: {'id': id},
            dataType: 'json',
            success: function (data) {
                console.log(data);
            }
        });
    };

    const closed = function (id) {
        $.ajax({
            url: "{% url 'ajax-closed' %}",
            data: {'id': id},
            dataType: 'json',
            success: function (data) {
                console.log(data);
            }
        });
    }

    const focus_ad = function (id) {
        if (id === focused)
            focused = -1;
        else
            focused = id;
    }

    const working_status = function () {
        $.ajax({
            url: "{% url 'ajax-working_status' %}",
            dataType: 'json',
            success: function (data) {
                if (data['work'] === true)
                    document.getElementById('working_button').innerText = 'Working';
                else
                    document.getElementById('working_button').innerText = 'Not working';
                console.log(data);
            }
        });
    }
    update();
    setInterval(update, 200);
</script>


{% endblock %}

