{% extends 'MainParser/base.html' %}

{% load static %}

{% block content %}

<section id="contact" class="contact section-dark">
    <div class="section-inner container">
        <h2 class="section-title font-secondary">
            Вход
        </h2>
        <div class="contact-wrapper font-secondary" style="display: flex; justify-content: center;">

            <form method="post" action="{% url 'main-login' %}" id="login" name="login" class="contact-form" style="width: 40%; text-align:center">
                <div class="column">
                    {% csrf_token %}
                    <div class="input-wrapper col-md-12 col-12 ml-0" >
                        <input type="text" name="username" id="username" placeholder="Телефон" required class="contact-input" maxlength="50">
                    </div>

                    <div class="input-wrapper col-md-12 col-12 ml-0" >
                        <input type="password" name="password" id="password" placeholder="Пароль" required class="contact-input" maxlength="50">
                    </div>

                    {% if error %}
                        <span class="col-12 text-center" id='message' style="color: red; text-align: center;">Неверные данные для входа</span>
                    {% endif %}


                    <div class="col-12 text-center">
                        <button type="submit" id="submit" class="send-button">
                            Войти
                        </button>
                    </div>

                    <div class="col-12 text-center" style="margin-top: 20px;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}

